PEEKD_LISTEN_IP=127.0.0.1
PEEKD_UDP_PORT=9090
PEEKD_TCP_PORT=9090
PEEKD_NETWORK=mainnet
PEEKD_ESTIMATE_ACTIVE_VALIDATORS=1000000
PEEKD_DB_TYPE=clickhouse
PEEKD_DB_HOST=clickhouse
PEEKD_DB_PORT=9000
PEEKD_DB_NAME=default
PEEKD_DB_USER=default
PEEKD_DB_PASSWORD=
PEEKD_DB_SECURE=false
PEEKD_NODE_REGION=local
PEEKD_NODE_ALIAS=local
